/* Font */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
}
/* Nav Bar */
.navbar{
  padding: 24px 160px;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-in-btn{
  color: rgb(0, 106,80);
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106,80);
  border-radius: 8px;
}
/* Banner */
.banner{
  margin-top: 20px;
  margin: 0px 160px;
  padding: 117px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 228, 214);
  /* width: 1280px;
  height: 560px; */
  border-radius: 24px;
}
.banner-head{
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 16px;
}
.banner-para{
  color: black;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-btn{
  width: 270px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 106,80);
  border-radius: 8px;
  border: none;
}
/* Pillar */
.pillar{
  margin-top: 20px;
  margin: 0px 160px;
  padding: 117px 0px;
}
.pillar-content{
  display: flex;
  gap: 24px;
}
.pillar-heading{
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.pillar-card{
  background-color: white;
  width: 302px;
  height:244px;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
.pillar-card-h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
.pillar-card-para{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
/* Vision */
.vision{
  margin-top: 80px;
  margin: 0px 160px;
}
.vision-heading{
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
}
.vision-para{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.vision-card-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
.vision-card{
  padding: 24px;
  margin-bottom: 32px;
  width: 410.67px;
  height: 325px;
}
#yellow{
  background-color: rgb(247, 235, 207);
  border-radius: 16px;
}
#green{
  background-color: rgb(198, 228, 214);
  border-radius: 16px;
}
#blue{
  background-color: rgba(84, 144, 	245, 0.2);
  border-radius: 16px;
}
.vision-card-h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0px;
}
.vision-card-para{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 64px;
}
.vision-card-btn-1{
  border: none;
  width: 122px;
  height: 41px;
  padding: 11px 20px 11px 20px;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 8px;
  background-color: rgb(84, 144, 245);
}
.vision-card-btn-2{
  border: none;
  width: 122px;
  height: 41px;
  padding: 11px 20px 11px 20px;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 8px;
  background-color: rgb(9, 161, 92);
}
.vision-card-btn-3{
  border: none;
  width: 122px;
  height: 41px;
  padding: 11px 20px 11px 20px;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 8px;
  background-color: rgb(255, 194, 57);
}
.yunus-quote{
  position: relative;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.5);
  padding: 48px 24px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 80px;
}
.y-quote{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.8);
  margin: 12px 0px;
}
.y-name{
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  margin: 4px 0px;
}
.y-post{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
  margin: 4px 0px;
}
.bg-quote{
  width: 8%;
  height: auto;   
  position: absolute;
  padding-top: 5px;
  top: 0;
  left: 2;
}
/* News Section */
.news{
  margin: 80px 0px;
  margin: 0px 160px;
}
.news-header{
  font-size: 40px;
  font-weight: 700;
  margin: 24px 0px;
}
.news-para{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.news-headline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px;
  background-color: white;
  border-radius: 24px;
  padding: 48px;
}
.news-image> img{
  border-radius: 24px;
  /* margin-left: 32px; */
  margin: 0px 32px;
}
.news-inner-content{
  margin-left: 32px;
}
.news-inner-content-h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: bold;
}
.aljazeera{
  margin: 12px 0px;
}
.date-time{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}
.inner-content-text{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.news-content-btn{
  /* width: 139px;
  height: 48px; */
  padding: 13px 26px 13px 26px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 106,80);
}
/* Donate Section */
.donate{
  margin: 80px 0px;
  margin: 0px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
.donate-heading{
  margin-top: 80px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: bold;
}
.donate-para{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0px 88px;
}
.donation-amount-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.donation-amount-box{
  background-color: white;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
.donation-amount{
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}
.other-amount-donation{
  width: 900px;
  /*height: 64px; */
  padding: 20px 40px 20px 40px;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: none;
}
.donation-btn{
  padding: 13px 26px 13px 26px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 106,80);
}
